body {
    background-color: #f0f8ff; 

    margin: 0;
    padding: 0;
}


.main {
    width: 1440px;
    margin: 0 auto;
}


@font-face {
    font-family: 'Opensans';
    src: url('fonts/MuseoSansCyrl-100.ttf');
}

@font-face {
    font-family: 'Cinzel';
    src: url('fonts/MuseoSansCyrl-300.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/MuseoSansCyrl-500.ttf');
}

#cinema-one p {
    font-family: 'Opensans', sans-serif;
}

#cinema-two p {
    font-family: 'Cinzel', serif;
}

#cinema-three p {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none; 
    padding-left: 0;
}

ul li a {
    color: #000;
    text-decoration: none;
}

ul li {
    margin-bottom: 5px;
}

#cinema-one p {
    text-align: center;
}

#cinema-two p {
    text-align: justify;
}

#cinema-three p {
    text-align: left;
}

.images img {
    width: 300px;
    height: 200px; 
}

.images img {
    border-radius: 15px; 
}

#cinema-one p strong {
    font-weight: bold;
}

#cinema-two p b {
    font-weight: 700; 
}

#cinema-three p {
    font-weight: 600; 
}
